.winners-wrapper {
  margin-top: 2.5%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

.winner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

